body {display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#backgroundimage { display: flex;
  justify-content: center;
  margin: auto;
position: sticky;
width: 1400px;
padding: 0%;}
#backgroundimage img {margin: auto;
position: sticky;}
#root {display: flex;
justify-content: center;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
